/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bitter',serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
}

/* El contenido del main ocupa el resto del espacio */
.main-content {

    flex-grow: 1;
}
