/* Configurar barra lateral */
.content-wrapper {
    display: flex;
    flex-grow: 1;
}
.sidebar {
    background-color: #40a8c4; /* Azul claro */
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius:  20px 20px;
}

.menu-header {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #000;
}

.menu-header i {
    margin-right: 30px;
}

.menu-items {
    list-style: none;
    padding: 0;
}

.menu-items li {
    display: flex;
    align-items: center;
    padding: 70px 20px;
    font-size: 30px;
    cursor: pointer;
}

.menu-items li i {
    margin-right: 40px;
}

.menu-items li:hover {
    background-color: #87CEFA; /* Azul intermedio */
    border-radius: 40px;
}

.logout {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

.logout i {
    margin-right: 10px;
}
.menu-items li img, .logout img, .menu-header img {
    width: 30px; /* Ajusta el tamaño de la imagen */
    height: 30px; /* Si es necesario */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    vertical-align: middle; /* Alinea la imagen con el texto */
}
